x/**
 * Reset some basic elements
 */
body, p, blockquote, pre,
dl, dd, ol, ul, figure {
  padding: 0;
  font-family: $base-font-family;
  font-weight:400;
  transition: all 1s ease;
  &.modal-active {
    overflow: hidden;
  }
}
/**
 * Headings
 */

h1,.h1{
  display: block;
  font-size: 2em;
}


h1,h2, h3, h4, h5, h6,
.h1,.h2, .h3, .h4, .h5, .h6 {
  font-family: $base-head-font;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}


hr{
  height: 2px;
  border: $shadow-color;
  margin-bottom: 100px;
}
/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  margin: 0px !important;
  flex-direction: column;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Links
 */
a {
  color: #663399 !important;
  font-weight:500;
  text-decoration: none;
  &:visited {
    color: inherit;
  }

  &:hover {
    color: #362066;
  }
}

/**
 * Blockquotes
 */
blockquote{
  border-left: solid 3px $shadow-color;
  font-size: 1.1rem;
  padding-left: 25px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: none;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    margin-top: 10px;
    border: none;
  }
  td {
    border: none;
  }
}


@media (min-width:450px) {
  .card-image{
    max-width: 100%;
    width: 100px;
    border-radius: 50px;
    float: none;
    margin-right: auto;
    margin-left: auto;
  }
}

.site-footer {
  padding: 50px;
  background-color: $shadow-color;
  color: $text-white;

}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.home{
  margin-top: 30px;
  margin-bottom: 40px;
}


strong {
  font-weight: 500 !important;
  font-style: bold;
  text-decoration: underline;
  font-size: 1.1rem;
}