
/*Header*/

.head-blob{
  position: absolute !important;
  z-index: -2;
  max-width: 700px;
  left: -70px;
}

.idea-image{
  position: absolute;
  z-index: -1;
  left: 5%;
  max-width: 300px;
  top: 200px;

}

.other-image{
  position: absolute;
  z-index: -1;
  left: 40%;
  width: 500px;
  top: 20px;
}


@media (max-width: 450px) {                  
   .idea-image, .other-image {
      display: none;
   }
   .head-blob {
    width: 70%;
   }
}


.social-media-list > a, .social-footer > a {
    text-decoration: none;
    margin-left: 10px;
}

.social-footer {
  background: $background-color;
  width: 215px;
  padding: 20px;
  border-radius: 20px;
}

.svg-icon {
    width: 20px;
    height: 20px;
    margin-top: 2px;
    display: inline-block;
    vertical-align: text-top;
}


.site-title {
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  padding: 30px;
  text-align: right;
  @include relative-font-size(2);
  font-weight:900;
}


/*BIO*/
.bio-list{
  list-style: none;
  border-radius: 20px 20px 0px 0px;
  padding: 20px 20px 20px 20px;
  background: linear-gradient(180deg, $brand-color 12.5%, $background-color 100%);
}


/*Nav */
.nav {
  padding-top: $spacing-unit;
  padding-bottom: 0px !important;
}


.nav-line {
  opacity: 0%;
  margin-top: 10px;
}

div.scrollmenu {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

div.scrollmenu a {
  display: inline-block;
  text-align: center;
  @include relative-font-size(1.2);
  font-weight: 300;
  margin-right: 100px;
  margin-bottom: 20px;
  background-image: none;
  text-decoration: none;
}

div.scrollmenu::-webkit-scrollbar {
  display: none; 
}

div.scrollmenu a:hover {
  background-image: none;
}

/*Experience Section*/
.experience-cards{
  display: block !important; 
  margin-bottom: 200px;
}

.bg-img-hero {
  width: 80%;
  background-position: top center;
  position: absolute !important;
  border: solid $shadow-color;
  border-radius: 20px;
}

.image-right {
  left: 50px;
  box-shadow: 5px 5px 0px $shadow-color;

}

.image-left {
  right: 50px;
  box-shadow: -5px 5px 0px $shadow-color;
}

.content-card {
  position: relative !important;
  background: $brand-color;
  padding: 20px;
  max-width: 500px;
  width: 80%;
  min-height: 400px;
  border: solid $shadow-color;
  border-radius: 20px; 
  top: 110px;
  margin-bottom: 30px;
}


.card-right {
  margin-right: 10%;
  margin-left: auto;
  box-shadow: 5px 5px 0px $shadow-color;
}

.card-left {
  margin-left: 10%;
  margin-right: auto;
  box-shadow: -5px 5px 0px $shadow-color;
}

.headline {
    margin-top: 30px;
    margin-bottom: 30px;
}


/*Content Highlights*/
.underline, .headline{
    background-image: linear-gradient(transparent 45%,$headline-color 20%,$headline-color 90%,transparent 10px);
    width: fit-content;
}


.caption{
  font-style: italic;
  font-size: 1rem;
}

.bio-first{
  font-size: 1.3rem;
}

.bio-second{
  font-size: 1.2rem;
}


.bio-third{
  font-size: 1.1rem;
}




