
/*Header*/

.head-blob{
  position: absolute !important;
  z-index: -2;
  max-width: 700px;
  left: -70px;
}

.idea-image{
  position: absolute;
  z-index: -1;
  left: 5%;
  max-width: 300px;
  top: 200px;

}

@media (max-width: 450px) {                  
   .idea-image {
      display: none;
   }
   .head-blob {
    width: 70%;
   }
}


.social-media-list > a {
    text-decoration: none;
    margin-right: 10px;
    background-image: none;
}

.svg-icon {
    width: 20px;
    height: 20px;
    margin-top: 2px;
    display: inline-block;
    vertical-align: text-top;
}


.site-title {
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  padding: 30px;
  text-align: right;
  @include relative-font-size(2);
  font-weight:900;
}


.phone-image {
  margin-top: 10%;
  filter: drop-shadow(3px 4px 1px #000000);
}

/* Device */
.device {
  position: relative;
}


.device-iphone-x {
  border-radius: 2.75rem;
  box-shadow: 0px 12px 15px rgba(140, 152, 164, 0.1);
}

.device-iphone-x-frame {
  position: relative;
  z-index: 2;
  max-width: 100%;
  height: auto;
}

.device-iphone-x-screen {
  position: absolute;
  top: 2.4%;
  left: 4%;
  width: 92.4%;
  height: 96%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}


/*BIO*/
.bio-list{
  list-style: none;
  background: linear-gradient(180deg, #F8E08D 12.5%, #F5F1ED 100%);
  border-radius: 20px 20px 0px 0px;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
}



/*Nav */
.nav {
  padding-top: $spacing-unit;
  padding-bottom: 0px !important;
}


.nav-line {
  opacity: 0%;
  margin-top: 10px;
}

div.scrollmenu {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

div.scrollmenu a {
  display: inline-block;
  text-align: center;
  @include relative-font-size(1.2);
  font-weight: 300;
  margin-right: 100px;
  margin-bottom: 20px;
  background-image: none;
  text-decoration: none;
}

div.scrollmenu::-webkit-scrollbar {
  display: none; 
}

div.scrollmenu a:hover {
  background-image: none;
}

/*Experience Section*/
.experience-cards{
  display: block !important; 
  margin-bottom: 200px;
}

.bg-img-hero {
  width: 80%;
  background-position: top center;
  position: absolute !important;
  border: solid black;
  border-radius: 20px;
}

.image-right {
  left: 50px;
  box-shadow: 5px 5px 0px #000000;

}

.image-left {
  right: 50px;
  box-shadow: -5px 5px 0px #000000;
}

.content-card {
  background: linear-gradient(180deg, #F8E08D 12.5%, #F5F1ED 100%);
  position: relative !important;
  padding: 20px;
  max-width: 500px;
  width: 80%;
  border: solid black;
  border-radius: 20px; 
  top: 100px;
  margin-bottom: 30px;
}


.card-right {
  margin-right: 10%;
  margin-left: auto;
  box-shadow: 5px 5px 0px #000000;
}

.card-left {
  margin-left: 10%;
  margin-right: auto;
  box-shadow: -5px 5px 0px #000000;
}

.headline {
    background-image: linear-gradient(transparent 55%,#4ca1af 20%,#4ca1af 90%,transparent 10px);
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 30px;
}


/*Content Highlights*/
.underline{
    background-image: linear-gradient(transparent 45%,#F1B292 20%,#F1B292 90%,transparent 10px);
    width: fit-content;
}


.word-count{
  font-style: italic;
  font-size: 1rem;
}

.bio-first{
  font-size: 1.6rem;
}

.bio-second{
  font-size: 1.4rem;
}


.bio-third{
  font-size: 1.2rem;
}




