
.home-button {
  top: 4%;
  margin-left: 80px;
  display: none;
  font-size: 24px;
  padding: 4px;
}

.toggle-nav {
  display: inline-block;
  cursor: pointer;
  background: $background-color;
  border-radius: 4px;
  padding: 15px;
  position: fixed;
  z-index: 100;
  right: 5%;
  top: 5%;
}

.topnav {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(231, 231, 222, 0.95);
  z-index: 50;
}

.nav {
  margin: auto;
  z-index: 1000;
}

.change .topnav {
  display: flex;
  transition: 0.2s;
}

.middle-bar {
  display: none;
}

.upper-bar,
.middle-bar,
.lower-bar {
  width: 35px;
  height: 3px;
  background-color: $text-lighter;
  margin: 6px 0;
  transition: transform 0.5s;
}

.change .upper-bar {
  -webkit-transform: rotate(-45deg) translate(-8px, 8px);
  transform: translate(18px, 2.5px) rotate(45deg);
  width: 20px;
}

.change .middle-bar {
  display: block;
}

.change .lower-bar {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: translate(18px, -2.5px) rotate(-45deg);
  width: 20px;
}


.grid-top-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px 10px;
  border: solid 2px $grey-color;
  border-radius: 4px;
}

.grid-items {
  padding: 40px 20px;
  text-align: center;
  font-size: 18px;
  transition: all .2s ease-in-out;
}

.grid-items:nth-child(2n+1){
  border-right: solid 2px $grey-color;
}

.grid-items:nth-child(1), .grid-items:nth-child(2), .grid-items:nth-child(3), .grid-items:nth-child(4){
  border-bottom: solid 2px $grey-color;
}


.grid-items:hover {
  box-shadow: 2px 1px 5px $text-lighter;
}


@media screen and (min-width: 768px) {
	.head-blob {
		left: 100px;
		max-width: 700px;
	}
	.head-image {
		margin-top: 100px;
		height: 300px;
		width: 200px;
	}

	.toggle-nav {
		right: 10%;
		top: 4%;
	}

	.home-button {
		display: block;
	}

	.grid-top-nav {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.grid-items {
		font-size: 20px;
		padding:  40px;
	}

	.grid-items:nth-child(1), .grid-items:nth-child(2), .grid-items:nth-child(4), .grid-items:nth-child(5)  {
		border-right: solid 2px $grey-color;
	}

	.grid-items:nth-child(1), .grid-items:nth-child(2), .grid-items:nth-child(3){
		border-bottom: solid 2px $grey-color;
	}

	.grid-items:nth-child(4){
		border-bottom: none;
	}
	.grid-items:nth-child(3){
		border-right: none;
	}
}

