    <div class="container space-2 space-lg-3">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <span class="d-block small font-weight-bold text-cap mb-2">Benefits</span>
        <h2 class="h1">What our 37,500+ clients love about Front</h2>
      </div>
      <!-- End Title -->

      <div class="row">
        <div class="col-md-4 mb-5 mb-md-0">
          <!-- Icon Blocks -->
          <div class="text-center px-lg-3">
            <figure class="max-w-10rem mx-auto mb-4">
              <img class="img-fluid" src="/assets/img/Dummy/svg/icons/icon-45.svg" alt="SVG">
            </figure>
            <h3>Less routine<br>– more creativity</h3>
            <p>Automate best strategies and focus more on generating hq creatives.</p>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-md-4 mb-5 mb-md-0">
          <!-- Icon Blocks -->
          <div class="text-center px-lg-3">
            <figure class="max-w-10rem mx-auto mb-4">
              <img class="img-fluid" src="/assets/img/Dummy/svg/icons/icon-29.svg" alt="SVG">
            </figure>
            <h3>Scale<br>budgets efficiently</h3>
            <p>Scale your budgets fast and increase ROI at the same time.</p>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-md-4">
          <!-- Icon Blocks -->
          <div class="text-center px-lg-3">
            <figure class="max-w-10rem mx-auto mb-4">
              <img class="img-fluid" src="/assets/img/Dummy/svg/icons/icon-31.svg" alt="SVG">
            </figure>
            <h3>Hundreds<br>of thousands saved</h3>
            <p>Stop inefficient budget spend or pour more into a winning ad when needed.</p>
          </div>
          <!-- End Icon Blocks -->
        </div>
      </div>
    </div>