    <div class="container space-2 space-lg-3">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <h2 class="h1">What our 500+ clients love about Homzhub</h2>
      </div>
      <!-- End Title -->

      <div class="row">
        <div class="col-md-4 mb-5 mb-md-0">
          <!-- Icon Blocks -->
          <div class="text-center px-lg-3">
            <figure class="max-w-10rem mx-auto mb-4">
              <img class="img-fluid" src="/assets/img/Dummy/svg/icons/icon-45.svg" alt="SVG">
            </figure>
            <h3>Promote on<br>multiple platforms</h3>
            <p>Get 10x more leads by posting on social platforms and leading listing sites.</p>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-md-4 mb-5 mb-md-0">
          <!-- Icon Blocks -->
          <div class="text-center px-lg-3">
            <figure class="max-w-10rem mx-auto mb-4">
              <img class="img-fluid" src="/assets/img/Dummy/svg/icons/icon-29.svg" alt="SVG">
            </figure>
            <h3>Time to fire<br>your excel sheets</h3>
            <p>Manage your income in dollars and expenses in rupees</p>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-md-4">
          <!-- Icon Blocks -->
          <div class="text-center px-lg-3">
            <figure class="max-w-10rem mx-auto mb-4">
              <img class="img-fluid" src="/assets/img/Dummy/svg/icons/icon-31.svg" alt="SVG">
            </figure>
            <h3>Stop worrying<br>about follow ups</h3>
            <p>Log all your issues on the app and invite vendors to efficiently resolve them.</p>
          </div>
          <!-- End Icon Blocks -->
        </div>
      </div>
    </div>