<!-- Hero Section -->
<div class="position-relative bg-img-hero" style="background-image: url(/assets/img/Dummy/svg/components/abstract-shapes-12.svg);">
  <div class="container space-top-3 space-bottom-lg-3">
    <div class="row justify-content-lg-between align-items-lg-center pt-lg-5">
      <div class="col-lg-5">
        <!-- Info -->
        <div class="mb-5">
          <h1 class="display-4 mb-3">Homzhub</h1>
          <p class="lead">One app to for all your properties for all your needs.</p>
        </div>
        <!-- End Info -->

        <!-- Form -->
        <form class="js-validate mb-4">
          <div class="form-row">
            <div class="col-sm col-md-6 col-lg mb-2">
              <div class="js-form-message">
                <label class="sr-only" for="signupSrEmail">Your email</label>
                <div class="input-group">
                  <input type="email" class="form-control" name="email" id="signupSrEmail" placeholder="Your email" aria-label="Your email" required
                         data-msg="Please enter a valid email address.">
                </div>
              </div>
            </div>
            <div class="col-sm-auto">
              <button type="submit" class="btn btn-primary btn-block">Join private beta</button>
            </div>
          </div>
        </form>
        <!-- End Form -->
        <span class="">Manage your multi-country portfolio from a single screen</span>
      </div>
    </div>
  </div>

  <!-- Gallery -->
  <div class="col-lg-6 position-lg-absolute bottom-0 right-0 transform-rotate-5 mr-lg-n11">
    <div class="row align-items-end mx-n2">
      <div class="col px-2 mb-5">
        <div class="mb-3" data-aos="fade-up">
          <img class="img-fluid shadow-lg rounded" src="/assets/img/Dummy/img/407x472/img2.jpg" alt="Image Description">
        </div>
        <div class="mb-3" data-aos="fade-up" data-aos-delay="100">
          <img class="img-fluid shadow-lg rounded" src="/assets/img/Dummy/img/407x472/img3.jpg" alt="Image Description">
        </div>
      </div>

      <div class="col px-2">
        <div class="mb-3" data-aos="fade-up" data-aos-delay="200">
          <img class="img-fluid shadow-lg rounded" src="/assets/img/Dummy/img/407x520/img1.jpg" alt="Image Description">
        </div>
        <div class="mb-3" data-aos="fade-up" data-aos-delay="300">
          <img class="img-fluid shadow-lg rounded" src="/assets/img/Dummy/img/407x407/img1.jpg" alt="Image Description">
        </div>
      </div>

      <div class="col px-2 mb-7">
        <div class="mb-3" data-aos="fade-up" data-aos-delay="400">
          <img class="img-fluid shadow-lg rounded" src="/assets/img/Dummy/img/407x472/img6.jpg" alt="Image Description">
        </div>
        <div class="mb-3" data-aos="fade-up" data-aos-delay="500" data-aos-offset="-50">
          <img class="img-fluid shadow-lg rounded" src="/assets/img/Dummy/img/407x115/img1.jpg" alt="Image Description">
        </div>
      </div>
    </div>
  </div>
  <!-- End Gallery -->
</div>
<!-- End Hero Section -->