    <div class="container space-2">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <span class="d-block small font-weight-bold text-cap mb-2">Platforms</span>
        <h2 class="h1">Available whereever<br>you are.</h2>
      </div>
      <!-- End Title -->

      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4 mb-md-5 mb-lg-0">
          <!-- Card -->
          <a class="card shadow-soft h-100 text-center transition-3d-hover" href="#">
            <div class="card-body pt-7 px-7">
              <figure class="max-w-23rem mx-auto mb-4">
                <img class="img-fluid" src="/assets/img/landing/android.png" alt="Logo">
              </figure>
              <h3>Android App</h3>
            </div>
            <div class="card-footer border-0 pt-0 pb-7 px-7">
              <span class="font-weight-bold">Download <i class="fas fa-angle-right fa-sm ml-1"></i></span>
            </div>
          </a>
          <!-- End Card -->
        </div>

        <div class="col-md-6 col-lg-4 mb-4 mb-md-5 mb-lg-0">
          <!-- Card -->
          <a class="card shadow-soft h-100 text-center transition-3d-hover" href="#">
            <div class="card-body pt-7 px-7">
              <figure class="max-w-23rem mx-auto mb-4">
                <img class="img-fluid" src="/assets/img/landing/apple.png" alt="Logo">
              </figure>
              <h3>iOS App</h3>
            </div>
            <div class="card-footer border-0 pt-0 pb-7 px-7">
              <span class="font-weight-bold">Download <i class="fas fa-angle-right fa-sm ml-1"></i></span>
            </div>
          </a>
          <!-- End Card -->
        </div>

        <div class="col-md-6 col-lg-4">
          <!-- Card -->
          <div class="card shadow-soft h-100 text-center transition-3d-hover" href="#">
            <div class="card-body pt-7 px-7">
              <figure class="max-w-23rem mx-auto mb-4">
                <img class="img-fluid" src="/assets/img/landing/apple.png" alt="Logo">
              </figure>
              <h3>Online Platform</h3>
            </div>
            <div class="card-footer border-0 pt-0 pb-7 px-7">
              <span class="font-weight-bold">Coming soon.<i class="fas fa-angle-right fa-sm ml-1"></i></span>
            </div>
          </div>
          <!-- End Card -->
        </div>
      </div>
    </div>