    <div class="container space-bottom-2 space-bottom-lg-3">
      <div class="w-lg-80 mx-lg-auto">
        <div class="row">
          <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="text-center">
              <span class="d-block font-size-5 font-size-md-down-3 text-dark font-weight-bold">2M+</span>
              <p>Actions automated monthly</p>
            </div>
          </div>

          <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="text-center">
              <span class="d-block font-size-5 font-size-md-down-3 text-dark font-weight-bold">$55M+</span>
              <p>Ad budgets managed monthly</p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="text-center">
              <span class="d-block font-size-5 font-size-md-down-3 text-dark font-weight-bold">37K+</span>
              <p>Clients around the world</p>
            </div>
          </div>
        </div>
      </div>
    </div>